*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:  #F2F2F2;
  font-family: 'Poppins', sans-serif;
}

/* contenedor principal */
.container {
  text-align: center;
}

.container .info{
  width: 100%;
  height: 65px;
  font-weight: bold;
  font-size: .9rem;
  color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color:#1B1A26;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* estilos para el header */
.container .header{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #1b1a26fb;
  margin-top: 60px;
}

/* estilos para el logo */
.container .header .logo {
  width: 120px;  
  height: 120px; 
  border-radius: 50%; 
  border: 2px solid rgba(187, 157, 157, 0.1); 
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-image: url('../assets/logo.jpg');
  background-size: cover; 
  background-position: center;
  object-fit: cover; 
}

.container .header .textInfo{
  margin-top: 10px;
  padding: 0 10px;
  color: #F2F2F2;
}

.container .section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap; 
  padding: 60px;
  gap: 10px;
}

.container .section .left,
.container .section .right {
  flex: 1 1 350px; /* Crece, se reduce y tiene un tamaño mínimo de 300px */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* estilos para el contenido de la izquierda */
.container .section .left p{
  width: 80%;
  padding: 10px;
  font-size: 1.3rem;
  background-color: #758C51;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #F2F2F2;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.container .section .left p:hover {
  transform: scale(1.02);
  background-color: #5f743d;
}

/* stilos para las imagenes */
.container .section .left .image{
  width: 80%;
  height: 350px;
  margin-top: 30px;
  border-radius: 5px;
  background-image: url('../assets/image.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex; 
  align-items: center;
  justify-content: center;
  object-fit: cover; 
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
  transition: opacity 0.6s ease-in-out;
}


/* Estilos generales para los botones */
.imageButtons {
  position: relative;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  padding: 0 10px;
}

/* Estilos generales para los botones */
.buttonLeft,
.buttonRight {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #F2F2F2;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 50%;
  transition: background 0.3s ease;
  user-select: none; /* Evita que se seleccione el texto */
  -webkit-user-select: none; /* Para navegadores WebKit (Chrome, Safari) */
  -moz-user-select: none; /* Para Firefox */
  -ms-user-select: none; /* Para Edge y versiones antiguas de IE */
}

.buttonLeft:hover,
.buttonRight:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* estilos para el contenido de la derecha */
.container .section .right .text{
  width: 80%;
  color: #403C3A;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 
  -2px -2px 4px #403c3a02;
}

.container .section .right .cardOne, 
.container .section .right .cardTwo, 
.container .section .right .cardThree {
  width: 80%;
  height: auto;
  margin: 20px 0;
  border: 1px solid #403c3a2d;
  background-color: #f2f2f200;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 5px;
  cursor: pointer;
  color: #403C3A;
  word-wrap: break-word;
  overflow-wrap: break-word; 
  white-space: normal; 
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.container .section .right .cardThree{
  padding: 20px 5px !important;
  border: 1px solid #403c3a2d;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
}

.container .section .right .cardThree p{
  padding: 10px 5px !important;
  max-width: 100% !important; 
  height: auto;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  white-space: normal !important;
  font-size: .9rem;
  padding: 0 5px;
}

.container .section .right .cardOne .contentImage, 
.container .section .right .cardTwo .contentImage, 
.container .section .right .cardThree, .contentImage {
  padding: 0 5px;
}

.container .section .right .cardOne p, 
.container .section .right .cardTwo p, 
.container .section .right .cardThree p{
  width: 80%;
  height: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  font-size: .9rem;
  padding: 0 5px;
  line-height: 1.5; 
  text-align: justify; 
  hyphens: auto;
}

.container .section .right .progressBar {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

.container .section .right .progress {
  width: 80%;
  height: 22px;
  border-radius: 5px;
  overflow: hidden;
  appearance: none;
  background-color: #f2f2f2;
  outline: 1px solid #403c3a2d;
  border: 2px solid transparent;
  box-shadow: 
    inset 0.2rem 0.2rem 0.5rem #403c3a15,
    inset -0.2rem -0.2rem 0.5rem #403c3a1c;
  position: relative;
}

/* Barra de progreso animada */
.container .section .right .progress::-webkit-progress-value {
  background: linear-gradient(90deg, #bf68498f, #1b1a26);
  border-radius: 5px;
  transition: width 0.6s ease-in-out;
  position: relative;
}

.container .section .right .progress::-webkit-progress-value::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, 0.2) 50%, 
    rgba(255, 255, 255, 0.2) 75%, 
    transparent 75%, 
    transparent
  );
  background-size: 1.5rem 1.5rem;
  animation: moveBars 1s linear infinite;
}

/* Animación de las rayas diagonales */
@keyframes moveBars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 2rem 0;
  }
}

.progressText {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #001512;
}

/* estilos para la seccion dos */
.container .sectionTwo{
  margin-top: 20px;
}

.container .sectionTwo h3{
  color: #1b1a26da;
}

.container .sectionTwo .combo {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  gap: 20px;
  justify-content: center; 
  align-items: center;
}

.container .sectionTwo .combo .oneCard,
.container .sectionTwo .combo .twoCard {
  flex: 1; 
  max-width: 450px; 
  height: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.container .sectionTwo .combo .oneCard img,
.container .sectionTwo .combo .twoCard img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
  object-fit: cover; 
}


/* estilos para seleccion de numeros */
.container .chooseNumbers{
  width: 100%;
  height: auto;
}

.container .chooseNumbers h3{
  color: #1b1a26da;
  height: 30px;
  padding: 4px 20px;
}

.container .chooseNumbers .messageInfo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.container .chooseNumbers .messageInfo p{
  min-width: 250px; 
  max-width: 600px; 
  font-size: 14px;
  font-weight: bold;
  color: #d9534f;
  background: #fff3cd;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #d9534f;
  margin: 20px 0;
}

/* estilos barra de busqueda */
.container .chooseNumbers .searchNumbers{
  width: 100%;
}

.container .chooseNumbers .searchNumbers input{
  width: 50%;
  outline: none;
  padding: 10px;
  border: 1px solid #403c3a81;
  background-color: transparent;
  color: #1b1a26da;
  border-radius: 5px 0px 0px 5px;
}

.container .chooseNumbers .searchNumbers input::placeholder{
  color: #403C3A;
}

.container .chooseNumbers .searchNumbers input:focus {
  box-shadow: 0 0 5px #403C3A;
}

.container .chooseNumbers .searchNumbers button{
  padding: 12px 12px;
  cursor: pointer;
  background-color: #1B1A26;
  border-radius: 0px 5px 5px 0px;
  border: none;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.container .chooseNumbers .searchNumbers button:hover {
  background-color: #1b1a26ec;
  opacity: 0.9;
}

/* estilos contenido para los numeros */
.container .chooseNumbers .contentNumbers{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: auto;
}

.container .chooseNumbers .contentNumbers .numberList{
  width: 40%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.rifaNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #758C51;
  color: #1B1A26;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  width: 60px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; 
}

.rifaNumber:hover {
  transform: scale(1.2);
}

.selected {
  background-color: #315925; 
  color: #f2f2f2;
  border-radius: 5px;
  padding: 5px;
}


.container .chooseNumbers .buttonsNextPrev{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1B1A26;
}

.container .chooseNumbers .buttonsNextPrev .buttonsContent{
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

.container .chooseNumbers .buttonsNextPrev .buttonsContent .buttonBack,
.container .chooseNumbers .buttonsNextPrev .buttonsContent .buttonNext{
  padding: 8px 20px;
  color: #f2f2f2;
  background-color:#732C39;
  border-radius: 5px;
  cursor: pointer;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.container .chooseNumbers .buttonsNextPrev .buttonsContent .buttonBack:hover,
.container .chooseNumbers .buttonsNextPrev .buttonsContent .buttonNext:hover {
  background-color: #732c39e3;
}

.backButton{
  padding: 5px 10px;
  background-color: #1B1A26;
  color: #F2F2F2;
  cursor: pointer;
  border: none;
  margin-right: 4px;
  border-radius: 2px;
}

.backButton:hover{
  background-color: #1b1a26d0;
}

 
.container .chooseNumbers .contentNumbers .btnPay{
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.container .chooseNumbers .contentNumbers .btnPay .btnPayment{
  padding: 10px 15px;
  color: #f2f2f2;
  background: linear-gradient(45deg, #BF6849, #bf6849d0);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #bf6849ce;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.container .chooseNumbers .contentNumbers .btnPay .btnPayment:hover {
  background: linear-gradient(45deg, #bf6849, #bf6849a6);
  box-shadow: 0 6px 12px #732C39;
  transform: scale(1.05);
  border-color: #f2f2f2;
}

.container .chooseNumbers .contentNumbers .btnPay .btnPayment::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(25deg);
  transition: left 0.5s ease-in-out;
}

.container .chooseNumbers .contentNumbers .btnPay .btnPayment:hover::before {
  left: 120%;
}

.container .chooseNumbers .checkNumbers { 
  margin: 20px 0 40px; 
}


.container .chooseNumbers .checkNumbers .btnCheckNumbers {
  padding: 10px 15px;
  color: #f2f2f2;
  background: linear-gradient(45deg, #BF6849, #bf6849d0);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #bf6849ce;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

/* Hover potente */
.container .chooseNumbers .checkNumbers .btnCheckNumbers:hover {
  background: linear-gradient(45deg, #bf6849, #bf6849a6);
  box-shadow: 0 6px 12px #732C39;
  transform: scale(1.05);
  border-color: #f2f2f2;
}

/* Efecto de brillo en hover */
.container .chooseNumbers .checkNumbers .btnCheckNumbers::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(25deg);
  transition: left 0.5s ease-in-out;
}

.container .chooseNumbers .checkNumbers .btnCheckNumbers:hover::before {
  left: 120%;
}

.container .footer{
  width: 100%;
  height: auto;
  background-color: #1b1a26ee;
  color: #f2f2f2;
}

.container .contentFooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: center; 
  gap: 10px; 
  padding: 20px; 
  color: #f2f2f2;
  text-align: center;
}

/* Sección individual del footer */
.container .contentFooter .footerSection {
  flex: 1;
  min-width: 250px;
  max-width: 400px; 
  padding: 10px;
  border-radius: 5px;
}

/* Nombre principal */
.container .contentFooter .footerSection .footerName {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0;
}

/* Enlace de términos */
.container .contentFooter .footerSection .footerLink {
  font-size: .9rem;
  color: #5AA2BF;
  margin: 5px 0;
  text-decoration: none;
  font-weight: bold;
}

.container .contentFooter .footerSection .footerLink:hover {
  text-decoration: underline;
  color: #5aa2bfce;
}

/* Texto del desarrollador */
.container .contentFooter .footerSection .developer {
  font-size: .9rem;
  color: #ffffff;
  margin: 10px 0;
  font-style: italic;
}

.name {
  font-weight: bold;
  color: #5AA2BF;
  font-size: 1em;
}


/* Estilos para los títulos "Contáctanos" y "Medios de pago" */
.container .contentFooter .footerSection .footerTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #5AA2BF;
}

/* Contacto */
.container .contentFooter .footerSection .contactNumber {
  font-size: .9rem;
  font-weight: bold;
  color: #f2f2f2;
  margin: 10px 0;
}

.container .contentFooter .footerSection .contactEmail {
  font-size: 0.9rem;
  color: #f2f2f2;
  word-break: break-word; 
  margin: 10px 0;
}

/* Método de pago */
.container .contentFooter .footerSection .paymentMethod {
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #5AA2BF;
  display: flex;
  flex-direction: column;
}

/* estilos para imagenes del footer */
.container .contentFooter .footerSection .paymentMethod .mercado{
  width: 180px;
}

.container .contentFooter .footerSection .paymentMethod .methodPay{
  width: 200px;
}

.container .footer .copyright{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f2f2f2;
  padding: 30px 0;
  font-size: .9rem;
}

/* errores que se muestran en la pagina home */
.errors {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  background: #D90416; 
  color: #F2F2F2;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Cuando el error está visible */
.errors.show {
  opacity: 1;
  transform: translateY(0); /* Sube suavemente */
}

.errorContainer {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.errorSearch {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 600;
  height: 20px;
  padding: 2px 20px;
  border-radius: 5px;
  color: #D90416;
  text-align: center;
}

/* icono de whatsAapp */
.whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #F2F2F2;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsappIcon{
  color: #F2F2F2;
}

.whatsappButton:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
}


/* estilos responsivos */
@media (max-width: 768px) {
  .container .header{
    flex-direction: column;
  }

  .container .header .logo {
    width: 80px;  /* Reduce el tamaño */
    height: 80px;
  }

  .container .header .textInfo{
    margin-bottom: 20px;
  }

  .container .section {
    padding: 20px;
  }  

   /* contenido de la izquierda */
  .container .section .left p{
    width: 100%;
  }

  .container .section .left .image{
    width: 100%;
  }

  .container .section .left .slider{
    width: 100%; 
  }

  /* contenido de la derecha */
  .container .section .right p{
    width: 100%;
    margin-top: 10px;
  }

  .container .section .right .cardOne, 
  .container .section .right .cardTwo, 
  .container .section .right .cardThree {
  width: 100%;
}

.container .sectionTwo .combo{
  padding: 20px;
  flex-direction: column;
}

.container .chooseNumbers .searchNumbers input{
  width: 80%;
}

.container .section .right .progress{
  width: 100%;
}

.container .chooseNumbers .contentNumbers .numberList{
  width: 90%;
}

.container .section .right .cardOne, 
.container .section .right .cardTwo, 
.container .section .right .cardThree {
  height: 150px;
}

.container .chooseNumbers .buttonsNextPrev .buttonsContent{
  width: 50%;
}

.container .contentFooter {
  flex-direction: column; 
  align-items: center;
  text-align: center;
}

.container .info{
  height: 102px;
}

.container .header{
  margin-top: 100px;
}

}


