.contenAll{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  background-color: #403c3ab9;
}

.contenAll .container {
  width: 100%;
  height: 70vh;
  max-width: 400px;
  margin: auto;
  padding: 70px 30px;
  background: #403C3A;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.title {
  font-size: 1.5rem;
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}

.contenAll .container .error{
  width: 100%;
  min-height: 25px;
  margin-bottom: 10px;
  color: #D90416;
  display: flex;
  align-items: center;
  padding: 2px 10px;
  font-size: .8rem;
}

.input {
  width: 100%;
  padding: 12px 30px;
  margin-bottom: 15px;
  border: 1px solid #403c3a69;
  border-radius: 5px;
  font-size: .9rem;
  color: #403C3A;
  background-color: #f2f2f2;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border-color: #3159258c;
  box-shadow: 0px 0px 8px #403C3A;
}

.button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #f2f2f2;
  background: #315925;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #315925bd;
}


@media (max-width: 768px) {
  
.contenAll .container {
  width: 100%;
  height: 60vh;
}
}