body{
  font-family: 'Poppins', sans-serif;
}

.contentAll {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.contentAll .textPanel {
  width: 100%;
  height: auto;
  display: flex;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: #403c3a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

.contentAll .textPanel h1 {
  color: #F2F2F2;
  font-size: 1.2rem;
  border-bottom: 2px solid #f2f2f20e;
}

.contentAll .textPanel button {
  border-radius: 5px;
  padding: 5px 12px;
  border: 1px solid #f2f2f23a;
  cursor: pointer;
  background-color: transparent;
  color: #f2f2f2;
  font-weight: bold;
}

.contentAll .textPanel button:hover {
  border: 1px solid #f2f2f250;
}

/* Contenido de información */
.contentAll .raffleInfo {
  width: 100%;
  background-color: #f2f2f200;
  backdrop-filter: blur(20px);
}

.contentAll .raffleInfo .raffleInfoHeader {
  width: 100%;
  height: auto;
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.contentAll .raffleInfo .raffleInfoHeader .raffleInfoTitle{
  width: 65%;
  font-size: .9rem;
  color: #f2f2f2;
  padding: 5px 20px;
  text-align: center;
  border-radius: 5px;
  background-color:#403C3A;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.contentAll .raffleInfo .raffleInfoContent {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 0 10px;
  padding: 10px 20px;
  max-width: 900px; /* Limitamos el ancho máximo para que entren 4 tarjetas */
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
  backdrop-filter: blur(20px);

}

.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem {
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.3s ease;
  background-color:#f2f2f28c;
  backdrop-filter: blur(20px);
  border: 1px solid #403c3a27;
  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.3);
}

.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem .raffleInfoHeader {
  display: inline;
  width: auto;
  color: #403C3A;
  font-size: .8rem;
  font-weight: 300;
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid #403c3a25;
  border-radius: 2px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem .raffleInfoTextarea {
  width: 100%;
  height: 130px;
  max-height: 130px;
  border-radius: 5px;
  color: #403C3A;
  resize: none;
  overflow-y: auto;
  padding: 8px;
  outline: none;
  border: 1px solid #403c3a2d;
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  background-color: transparent;
  margin-top: 10px;
}

/* Personalizar scroll en navegadores basados en WebKit */
.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem .raffleInfoTextarea::-webkit-scrollbar {
  width: 6px;
}

.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem .raffleInfoTextarea::-webkit-scrollbar-track {
  background: #403c3a;
  border-radius: 10px;
}

.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem .raffleInfoTextarea::-webkit-scrollbar-thumb {
  background: #403c3a;
  border-radius: 10px;
}

.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem .raffleInfoTextarea::-webkit-scrollbar-thumb:hover {
  background: #403c3a67;
}

.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem .raffleInfoActions {
  width: 100%;
  height: auto;
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}

.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem .raffleInfoActions .raffleInfoButton {
  width: 100%;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 4px;
  background-color: #315925e5;
  color: #f2f2f2;
  transition: background 0.3s ease;
}

.contentAll .raffleInfo .raffleInfoContent .raffleInfoItem .raffleInfoActions .raffleInfoButton:hover {
  background: #315925;
}

.contentAll .contentImages{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 0 30px;
}

.contentAll .contentImages h3{
  width: 65%;
  height: auto;
  color: #f2f2f2;
  font-size: .9rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 20px;
  background-color:#403C3A;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* estilos para las imagenes */
.contentInputImages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px; 
  height: 150px;
  border: 2px dashed #403c3ab0;
  border-radius: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  position: relative;
}

.contentInputImages:hover {
  border-color: #403c3a93;
  background-color: #403c3a1e;
}

.contentInputImages::before {
  content: attr(data-file-name); /* Muestra el nombre del archivo */
  font-size: .9rem;
  color: #403C3A;
  font-weight: bold;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  text-align: center;
}

/* Si no hay archivo, se muestra el texto predeterminado */
.contentInputImages[data-file-name=""]::before {
  content: "Cargar imagen";
}

.addButton {
  width: 180px;
  border: none;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 30px;
  padding: 10px;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 5px;
  background-color: #315925e5;
  margin: 10px 0;
}

.addButton:hover{
  background-color: #315925;
}

/* contenido para las imagenes en el panel */
.contentAll .contentImagesPanel{
  width: 100%;
  height: auto;
  padding: 30px 0;
  display: flex;
  text-align: center;
}

.contentAll .contentImagesPanel .contentAllImages{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  padding: 0px 20px;
  max-width: 900px; 
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px 30px;
}

.contentAll .contentImagesPanel .contentAllImages img {
  width: 100%;
  display: block;
  object-fit: contain;
  height: 100%;  
  height: 200px;
  border-radius: 5px;
  background-color: #3159250c;
  border: 1px solid #403c3a2f;
  transition: transform 0.3s ease-in-out;
}

.contentAll .contentImagesPanel .contentAllImages img:hover {
  transform: scale(1.03);
}













/* errores desde el servidor manejados desde el cliente */
.error {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 0.9rem;
  color: #f2f2f2;
  background-color: #D9042B;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000000;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


/* mensajes de guardado exitoso de exitoso */
.successMessage {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 0.9rem;
  color: #f2f2f2;
  background-color: #315925;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000000;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 5s ease-in-out, transform 5s ease-in-out;
}

/* Oculta el mensaje suavemente */
.successMessage.hidden {
  opacity: 0;
  transform: translateY(10px);
}



/* estilos responsivos */
@media (max-width: 768px) {
  .contentAll .textPanel h1{
    font-size: 1.3rem;
    padding: 6px 0;
  }

  .contentAll .raffleInfo .raffleInfoContent {
    padding: 0 30px;
  }
}

@media (max-width: 320px) {
  .contentAll .textPanel h1{
    font-size: 1rem;
    padding: 6px 0;
  }

  .contentAll .raffleInfo .raffleInfoContent {
    padding: 0 20px;
  }
}