.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  width: 90%;
  max-width: 350px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal h2 {
  color: #758C51;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.modal p {
  color: #403C3A;
  font-size: .9rem;
  line-height: 1.4;
  margin: 10px 0;
}

.modal .info_message {
  color: #403C3A;
  font-size: .9rem;
  font-style: italic;
  margin-top: 10px;
}

.modal .reference{
  color: #403C3A;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #403c3a2f;
  max-width: 100%; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  text-align: center; 
  display: inline-block;
  font-weight: 600;
}


/* From Uiverse.io by satyamchaudharydev */ 
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #1b1a26b2;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
  margin: 20px 0;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.modal .redirect {
  color: #403C3A;
  font-size: .8rem;
  line-height: 1.4;
  padding: 8px 0;
}